{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Sign In" %}{% endblock %}

{% block inner %}

{% get_providers as socialaccount_providers %}

<main class="main-content  mt-0">
  <div class="page-header align-items-start min-vh-50">
  <!-- <div class="page-header align-items-start min-vh-100" style="background-image: url('https://images.unsplash.com/photo-1497294815431-9365093b7331?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80');"> -->
    <span class="mask"></span>
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-4 col-md-8 col-12 mx-auto">
          <div class="card z-index-0 fadeIn3 fadeInBottom">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">{% translate "Sign In" %}</h4>
                </div>
              </div>
                    <a class="btn btn-link" href="{% provider_login_url "discord" process="login" %}">
                    <i class="fa fa-discord fa-4x"></i> <h5 class="font-weight-bolder text-center mt-2 mb-0">{% translate "Sign In" %} with Discord</h5>
                  </a>
            <!-- <div class="card-body">
              <form role="form" class="text-start">
                <div class="input-group input-group-outline my-3 socialaccount_ballot">
                  {% if socialaccount_providers %}
                  <ul class="socialaccount_providers">
                    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                  </ul>
                  {% endif %}
                </div>
              </form>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
