{% extends "socialaccount/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
  <div class="container-fluid">
      <div class="row">
          <div class="col-12">
              <div class="card my-4 mx-10">
                  <div class="table-responsive p-0 text-center">
                    {% if process == "connect" %}
                    <h1>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>

                    <p>{% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktrans %}</p>
                    {% else %}
                    <h1>{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</h1>

                    <p>{% blocktrans with provider.name as provider %}You are about to sign in using a third party account from {{ provider }}.{% endblocktrans %}</p>
                    {% endif %}

                    <form method="post">
                      {% csrf_token %}
                      <button class="btn btn-primary" type="submit">{% trans "Continue" %}</button>
                    </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</main>
{% endblock %}
