{% extends "tools.html" %}

{% load i18n %}

{% block head_title %}SMR Address Tools{% endblock %}

{% block inner %}
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card my-4 mx-5">
                    <div class="table-responsive p-0 text-center">
                        <h5>Validate a Crew3 Export</h5>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input class="btn bg-gradient-dark" type="file" name="file">
                            <button class="btn btn-lg bg-gradient-primary btn-lg" type="submit">Upload</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
