<!--
=========================================================
* Material Dashboard 2 - v3.0.4
=========================================================

* Product Page: https://www.creative-tim.com/product/material-dashboard
* Copyright 2022 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://www.creative-tim.com/license)

* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->

{% extends "tools.html" %}

{% load i18n %}

{% block head_title %}SMR Address Tools{% endblock %}

{% block inner %}
<body class="g-sidenav-show  bg-gray-200">
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        <div class="alert alert-danger text-white" role="alert">
            <span class="alert-link text-white">⚠️ WARNING: There are addresses with the wrong format. </span>
        </div>
        <div class="container-fluid py-4">
            <div class="row">
              <div class="col-12">
                <div class="card my-4">
                  <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                      <h6 class="text-white text-capitalize ps-3">The following lines have ⚠️ INVALID ⚠️ addresses</h6>
                    </div>
                  </div>
                  <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">
                      <table class="table align-items-center mb-0">
                        <thead>
                          <tr>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Username</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Line number</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Submitted Information</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for row in invalid_rows %}
                          <tr>
                            <td>
                              <div class="d-flex px-2 py-1">
                                <div class="d-flex flex-column justify-content-center">
                                  <h6 class="text-center mb-0 text-sm">{{ row.0 }}</h6>
                                </div>
                              </div>
                            </td>
                            <td>
                                <p class="text-center text-xs font-weight-bold mb-0">{{ row.2 }}</p>
                            </td>
                            <td>
                                <p class="text-center text-xs font-weight-bold mb-0">{{ row.1 }}</p>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </main>
</body>
{% endblock %}
