<!--
=========================================================
* Material Dashboard 2 - v3.0.4
=========================================================

* Product Page: https://www.creative-tim.com/product/material-dashboard
* Copyright 2022 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://www.creative-tim.com/license)

* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->

{% extends "tools.html" %}

{% load i18n %}

{% block head_title %}SMR Address Tools{% endblock %}

{% block inner %}
<body class="g-sidenav-show  bg-gray-200">
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        <div class="alert alert-success text-white" role="alert">
            <span class="text-sm">✔️ All addresses validated successfully!</span>
          </div>
    </main>
</body>
{% endblock %}
