<!--
=========================================================
* Material Dashboard 2 - v3.0.4
=========================================================

* Product Page: https://www.creative-tim.com/product/material-dashboard
* Copyright 2022 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://www.creative-tim.com/license)

* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->

{% extends "tools.html" %}

{% load i18n %}

{% block head_title %}SMR Address Tools{% endblock %}

{% block inner %}
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <div class="alert alert-danger text-white" role="alert">
        <span class="alert-link text-white">⚠️ WARNING: The address is wrong. </span>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                            <tr>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                Address
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                            <td>
                            <div class="d-flex px-2 py-1">
                                <div class="d-flex flex-column justify-content-center">
                                <h6 class="mb-0">
                                    {{ address }}
                                </h6>
                                </div>
                            </div>
                            </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
