{% extends "tools.html" %}

{% load i18n %}

{% block head_title %}SMR Address Tools{% endblock %}

{% block inner %}
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card my-4 mx-5">
                    <div class="table-responsive p-0 text-center">
                        <h5>Validate a Shimmer Mainnet address</h5>
                        <form method="post">
                            {% csrf_token %}
                            <!-- <label for="address">SMR Address:</label> -->
                            <input class="btn bg-gradient-secondary" type="text" id="address" name="address" placeholder="Enter SMR address" maxlength="64" required  style="width: 550px;">
                            <button class="btn btn-lg bg-gradient-primary btn-lg" type="submit">Validate</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
