{% extends "base.html" %}
{% block title %}{% block head_title %}{% endblock head_title %}{% endblock title %}

{% block content %}
<!-- Navbar -->
<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
    <div class="container-fluid py-1 px-3">
      <nav aria-label="home icon">
        <a href="{% url 'tangle:tools' %}" class="nav-link text-body font-weight-bold px-0">
          <i class="fa fa-textpattern me-sm-1"></i>
          <span class="d-sm-inline d-none">Tools</span>
        </a>
      </nav>
      <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
        <div class="ms-md-auto pe-md-3 d-flex align-items-center">
        </div>
        <ul class="navbar-nav justify-content-end">
          <li class="nav-item d-flex align-items-center">
            <a href="{% url 'tangle:smr_address' %}" class="nav-link text-body font-weight-bold px-2">
              <span class="d-sm-inline d-none">Shimmer Mainnet Address Check</span>
            </a>
          </li>
          <li class="nav-item d-flex align-items-center">
            <a href="{% url 'tangle:crew3_tools' %}" class="nav-link text-body font-weight-bold px-2">
              <span class="d-sm-inline d-none">Crew3 Export Adderss Check</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
    <div class="row">
    <div class="col-md-10 offset-md-1">
        {% block inner %}
        <h1>Welcome to the tools page!</h1>
        {% endblock %}
    </div>
    </div>
{% endblock %}
