<div id="getting-support">
  <h2 class="page-header">Getting Support</h2>
  <p>
    Having trouble getting {{ site.forkawesome.name }} up and running? Something not working the way you think it should?
  </p>
  <ol>
    <li>
      Make sure you've read the latest version of how to <a href="{{ page.relative_path }}get-started/">get started</a>.
    </li>
    <li>
      Since {{ site.forkawesome.name }} is based on {{ site.fontawesome.name }}, check out the <a href="http://stackoverflow.com/questions/tagged/font-awesome">existing questions tagged as
      Font Awesome</a> over on Stack Overflow. Other folks might have had the same question you've had.
    </li>
    <li>
      Can't find the answer to your question on Stack Overflow?
      <a href="http://stackoverflow.com/questions/ask?tags=fork-awesome">Ask a new question</a>, then.
    </li>
  </ol>
</div>
