<!--
=========================================================
* Material Dashboard 2 - v3.0.4
=========================================================

* Product Page: https://www.creative-tim.com/product/material-dashboard
* Copyright 2022 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://www.creative-tim.com/license)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block content %}
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Opportunities</h6>
              </div>
              <h7 class="text-capitalize ps-3">Total Opportunities: {{ count }}</h7>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center justify-content-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Title</th>
                      <th id="category-header" class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Category</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Link</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for opportunity in opportunities %}
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <p class="text-sm font-weight-bold text-end mb-0">{{ opportunity.name }}</p>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-center text-xs font-weight-bold mb-0">{{ opportunity.category }}</p>
                      </td>
                      <td>
                        <p class="text-center text-xs font-weight-bold mb-0"><a href="https://discord.com/channels/397872799483428865/{{ opportunity.thread_id }}" target="_blank">View it on Discord</a></p>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <p class="text-sm font-weight-bold text-end mb-0">Updates every 12h</p>
        </div>
      </div>
    </div>
  </div>
    {% endblock content %}
