<!--
=========================================================
* Material Dashboard 2 - v3.0.4
=========================================================

* Product Page: https://www.creative-tim.com/product/material-dashboard
* Copyright 2022 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://www.creative-tim.com/license)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block content %}
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Shimmerians Leaderboard</h6>
              </div>
              <h7 class="text-capitalize ps-3">Total users: {{ total_users }}</h7>
            </div>
            {% if current_page > 1 %}
            <a href="?page={{ current_page|add:'-1' }}">Previous</a>
            {% endif %}

            {% if current_page < total_pages %}
            <a href="?page={{ current_page|add:'1' }}">Next</a>
            {% endif %}
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center justify-content-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">User</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Number of Quests</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">XPs</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for user in users %}
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <p class="avatar avatar-sm me-3 border-radius-lg"><img src="{{ user.avatar }}" alt="{{ user.name }}'s avatar"></p>
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <p class="text-sm font-weight-bold text-end mb-0">{{ user.name }}</p>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-center text-xs font-weight-bold mb-0">{{ user.numberOfQuests }}</p>
                      </td>
                      <td>
                        <p class="text-center text-xs font-weight-bold mb-0">{{ user.xp }}</p>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    {% endblock content %}
