{% load static i18n %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
{% load static %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png' %}">
<link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}">

<title>
  Versutus
</title>

<!--     Fonts and icons     -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />

<!-- Nucleo Icons -->
<link href="{% static 'assets/css/nucleo-icons.css' %}" rel="stylesheet" />
<link href="{% static 'assets/css/nucleo-svg.css' %}" rel="stylesheet" />

<!-- Font Awesome Icons -->
<link rel="stylesheet" href="{% static 'fork-awesome/css/fork-awesome.min.css' %}">

<!-- Material Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">

<!-- CSS Files -->
<link id="pagestyle" href="{% static 'assets/css/material-dashboard.css' %}?v=3.0.4" rel="stylesheet" />
</head>
<body class="g-sidenav-show  bg-gray-100">

{% block navbar %}

<main class="main-content border-radius-lg ">

   <!-- Navbar -->
   <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
    <div class="container-fluid py-1 px-3">
      <nav aria-label="home icon">
        <a href="/" class="nav-link text-body font-weight-bold px-0">
          <i class="fa fa-rocket me-sm-1"></i>
          <span class="d-sm-inline d-none">Versutus</span>
        </a>
      </nav>
      <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
        <div class="ms-md-auto pe-md-3 d-flex align-items-center">
        </div>
        <ul class="navbar-nav justify-content-end">
          <li class="nav-item d-flex align-items-center">
            <a href="{% url 'tangle:iota' %}" class="nav-link text-body font-weight-bold px-2">
              <span class="d-sm-inline d-none">🌀 IOTA</span>
            </a>
          </li>
          <li class="nav-item d-flex align-items-center">
            <a href="{% url 'tangle:shimmer' %}" class="nav-link text-body font-weight-bold px-2">
              <span class="d-sm-inline d-none">✨ Shimmer</span>
            </a>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item d-flex align-items-center">
            <a href="{% url 'community:communities' %}" class="nav-link text-body font-weight-bold px-2" >
              <i class="fa fa-users me-sm-1"></i>
              <span class="d-sm-inline d-none">Crew3</span>
            </a>
          </li>
          {% endif %}
          {% if request.user.is_authenticated %}
          <li class="nav-item d-flex align-items-center">
            {# URL provided by django-allauth/account/urls.py #}
            <a href="{% url 'users:detail' request.user.username  %}" class="nav-link text-body font-weight-bold px-2" >
              <i class="fa fa-user me-sm-1"></i>
              <span class="d-sm-inline d-none">{% translate "My Profile" %}</span>
            </a>
          </li>
          <li class="nav-item d-flex align-items-center">
            {# URL provided by django-allauth/account/urls.py #}
            <a href="{% url 'account_logout' %}" class="nav-link text-body font-weight-bold px-0">
              <i class="fa fa-sign-out me-sm-1"></i>
              <span class="d-sm-inline d-none">{% translate "Sign Out" %}</span>
            </a>
          </li>
          {% else %}
          <li class="nav-item d-flex align-items-center">
            {# URL provided by django-allauth/account/urls.py #}
            <a id="log-in-link" href="{% url 'account_login' %}" class="nav-link text-body font-weight-bold px-0">
              <i class="fa fa-sign-in me-sm-1"></i>
              <span class="d-sm-inline d-none">{% translate "Sign In" %}
              </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->

{% endblock navbar %}
<div class="alert alert-warning alert-dismissible text-white align-middle align-items-center" role="alert">
  <span class="text-sm">🚧 WORK IN PROGRESS 🚧. This site is pre-alpha status. Use at your own risk.</span>
  <!-- <button type="button" class="btn-close text-lg py-3 opacity-10" data-bs-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button> -->
</div>

{% block content %}
{% endblock content %}


<!-- Start footer -->
<footer class="footer py-4  ">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-lg-between">
      <div class="col-lg-6 mb-lg-0 mb-4">
        <div class="copyright text-center text-sm text-muted text-lg-start">
          © <script>
            document.write(new Date().getFullYear())
          </script>,
          made with <i class="fa fa-heart"></i> by
          <a href="https://www.creative-tim.com" class="font-weight-bold" target="_blank">Creative Tim</a>
          for a better web.
        </div>
        <div class="copyright text-center text-sm text-muted text-lg-start">
          Built on <a href="https://www.djangoproject.com/"class="font-weight-bold" target="_blank">Django</a> with <a href="https://github.com/cookiecutter/cookiecutter-django"class="font-weight-bold" target="_blank">Cookiecutter Django</a>
        </div>
      </div>
      <div class="col-lg-6">
        <ul class="nav nav-footer justify-content-center justify-content-lg-end">
          <li class="nav-item">
            <a href="https://twitter.com/naerd_tech" class="nav-link text-muted" target="_blank"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="nav-item">
            <a href="https://github.com/antonionardella" class="nav-link text-muted" target="_blank"><i class="fa fa-github"></i></a>
          </li>
          <li class="nav-item">
            <a href="https://www.creative-tim.com/license" class="nav-link pe-0 text-muted" target="_blank">Theme license</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
</div>
</main>

   <!-- Core JS Files   -->
<script src="{% static 'assets/js/core/popper.min.js' %}" ></script>
<script src="{% static 'assets/js/core/bootstrap.min.js' %}" ></script>
<script src="{% static 'assets/js/plugins/perfect-scrollbar.min.js' %}" ></script>
<script src="{% static 'assets/js/plugins/smooth-scrollbar.min.js' %}" ></script>
<script>
  var win = navigator.platform.indexOf('Win') > -1;
  if (win && document.querySelector('#sidenav-scrollbar')) {
    var options = {
      damping: '0.5'
    }
    Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
  }
</script>

<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="{% static 'assets/js/material-dashboard.min.js' %}?v=3.0.4"></script>
</body>

</html>
