<!--
=========================================================
* Material Dashboard 2 - v3.0.4
=========================================================

* Product Page: https://www.creative-tim.com/product/material-dashboard
* Copyright 2022 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://www.creative-tim.com/license)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block content %}
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">IOTA token distribution</h6> <a href="https://github.com/antonionardella/versutus"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center justify-content-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-end opacity-7">Range</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-end opacity-7 ps-2">Addresses</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-end opacity-7 ps-2">Sum balances</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-end opacity-7 ps-2">% Addresses</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-end opacity-7 ps-2">% Supply</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for row in iota_distribution %}
                    <tr>
                      <td>
                        <p class="text-sm font-weight-bold text-end mb-0">{{ row.amounts}}</p>
                      </td>
                      <td>
                        <p class="text-sm font-weight-bold text-end mb-0">{{ row.addresses }}</p>
                      </td>
                      <td>
                        <p class="text-sm font-weight-bold text-end mb-0">{{ row.sum_balances }}</p>
                      </td>
                      <td>
                        <p class="text-sm font-weight-bold text-end mb-0">{{ row.percent_addresses }}</p>
                      </td>
                      <td>
                        <p class="text-sm font-weight-bold text-end mb-0">{{ row.percent_supply }}</p>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">IOTA Richlist Top {{ richlist_results }}</h6>
              </div>
              {% if not request.user.is_authenticated %}
              <div class="alert alert-info alert-dismissible text-white" role="alert">
                <span class="text-sm">
                  <a href="{% url 'account_login' %}" class="alert-link text-white">
                    <i class="fa fa-sign-in me-sm-1"></i>
                    Login with Discord</a> to see the Top 500 addresses.</span>
                <button type="button" class="btn-close text-lg py-3 opacity-10" data-bs-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              {% endif %}
            </div>
              <div class="table-responsive p-0">
                <table class="table align-items-center justify-content-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7">Rank</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7">Address</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Balance</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Comment</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for row in iota_richtlist %}
                    <tr>
                      <td>
                        <p class="text-sm font-weight-bold text-center mb-0">{{ forloop.counter }}</p>
                      </td>
                      <td>
                        <p class="text-sm font-weight-bold text-center mb-0"><a href="https://explorer.iota.org/mainnet/addr/{{ row.address}}" target="_blank">{{ row.address }}</a></p>
                      </td>
                      <td>
                        <p class="text-sm font-weight-bold text-end mb-0">{{ row.balance }}</p>
                      </td>
                      <td>
                        <p class="text-sm font-weight-bold text-end mb-0">{{ row.comment }}</p>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
        </div>
      </div>
    </div>
  </div>
    {% endblock content %}
</html>
