{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
  <div class="container-fluid px-2 px-md-4">
    <div class="card card-body mx-3 mx-md-1 mt-n1">
      <div class="row gx-4 mb-2">
        <div class="col-auto">
          <div class="avatar avatar-xl position-relative">
            <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
          </div>
        </div>
        <div class="col-auto my-auto">
          <div class="h-100">
            <h5 class="mb-1">
              {{ object.username }}#{{ object.socialaccount_set.all.0.extra_data.discriminator }}
            </h5>
            <p class="mb-0 font-weight-normal text-sm">
              Premium type: {% if object.socialaccount_set.all.0.extra_data.premium_type == 1 %}Nitro Classic{% elif object.socialaccount_set.all.0.extra_data.premium_type == 2 %}Nitro{% elif object.socialaccount_set.all.0.extra_data.premium_type == 3 %}Nitro Basic{% else %}None{% endif %}
            </p>
          </div>
        </div>
        <!-- {{ user }} -->
        {% if object == request.user %}
        <div class="my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-2">
          <div class="nav-wrapper position-relative end-0">
            <!-- <ul class="nav nav-tabs" id="myTab" role="tablist"> -->
            <ul class="nav nav-pills nav-fill p-1" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <a class="nav-link mb-0 px-0 py-0 active"  id="tools-tab" data-bs-toggle="tab" data-bs-target="#tools-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">
                  <i class="material-icons text-lg position-relative">handyman</i>
                  <span class="ms-1">Tools</span>
                </a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link mb-0 px-0 py-0" id="servers-tab" data-bs-toggle="tab" data-bs-target="#servers-tab-pane" type="button" role="tab" aria-controls="servers-tab-pane" aria-selected="true">
                  <i class="material-icons text-lg position-relative">storage</i>
                  <span class="ms-1">Servers</span>
                </a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link  mb-0 px-0 py-0" id="settings-tab" data-bs-toggle="tab" data-bs-target="#settings-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">
                  <i class="material-icons text-lg position-relative">settings</i>
                  <span class="ms-1">Settings</span>
                </a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade" id="servers-tab-pane" role="tabpanel" aria-labelledby="servers-tab" tabindex="0">
                <div class="container-fluid px-2 px-md-4">
                  <div class="card card-body mx-0 mx-md-0">
                    <div class="col-12 mt-4">
                      <div class="row">
                        <div class="row">
                        {% if setup_status %}
                          <h6 class="mb-1">
                            {% if number_of_available_guilds == 0 %}
                            You are not in an eligible server
                            {% elif number_of_available_guilds == 1 %}
                            You are in 1 server
                            {% else %}
                            You are in: {{number_of_available_guilds}} servers
                            {% endif %}
                          </h6>
                          <p class="text-sm">
                            {% if number_of_available_guilds == 69 %}
                            Nice!
                            {% endif %}
                          </p>
                        </div>
                        <div class="row">
                          {% for guild in available_guilds %}
                          <div class="col-xl-3 col-md-3 mb-xl-0 mb-4">
                            <div class="card card-blog card-plain">
                              <div class="card-header p-0 mt-n4 mx-3">
                                <!-- <a class="d-block shadow-xl border-radius-xl"> -->
                                <a href="{% url 'server' guild.id %}">
                                  {% if guild.icon is None %}
                                    <img src="https://assets-global.website-files.com/6257adef93867e50d84d30e2/636e0a6918e57475a843f59f_icon_clyde_black_RGB.svg" alt="img-blur-shadow" class="guild-icon img-fluid shadow border-radius-xl rounded-circle">
                                  {% else %}
                                    <img src="https://cdn.discordapp.com/icons/{{guild.id}}/{{guild.icon}}.webp" alt="img-blur-shadow" class="guild-icon img-fluid shadow border-radius-xl rounded-circle">
                                  {% endif %}
                              </div>
                              <div class="card-body p-3">
                                <!-- <p class="mb-0 text-sm">{{guild.name}}</p> -->
                                  <h5 class="text-left">
                                    {{guild.name}}
                                  </h5>
                                </a>
                              </div>
                            </div>
                          </div>
                          {% endfor %}
                        </div>
                        {% else %}
                          <h2>
                            The profile is not set up on any server.
                          </h2>
                          <p class="mb-0 text-sm">
                            Please join a server served by Versutus and set the profile up using the command <code>/usersetup</code>
                          </p>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
              <div class="tab-pane fade show active" id="tools-tab-pane" role="tabpanel" aria-labelledby="tools-tab" tabindex="0">
                <div class="container-fluid px-2 px-md-4">
                  <div class="card card-body mx-3 mx-md-4">
                    <div class="col-12 mt-4">
                      <div class="row">
                        <div class="card-body px-0 pb-2">
                          <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                              <thead>
                                <tr>
                                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tool</th>
                                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Function</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>
                                    <div class="d-flex px-2 py-1">
                                      <a href="{% url 'tangle:tools' %}">
                                      <div>
                                        <img src="https://cdn.discordapp.com/avatars/1062724060557086772/054e1e28f739c05ab29ca6178698e6de.png" class="avatar avatar-sm me-3 border-radius-lg" alt="user2">
                                      </div>
                                      <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-sm">Versutus Shimmer Tools</h6>
                                      </a>
                                        <p class="text-xs text-secondary mb-0">Custom built tools</p>
                                      </div>
                                    </div>
                                  </td>
                                  <td>
                                    <p class="text-xs font-weight-bold mb-0">Address checker, Crew3 tools, etc..</p>
                                    <p class="text-xs text-secondary mb-0">in progress</p>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <div class="d-flex px-2 py-1">
                                      <a href="https://explorer.shimmer.network/shimmer" target="_blank">
                                        <div>
                                          <img src="https://shimmer.network/assets/logo.svg" class="avatar avatar-sm me-3 border-radius-lg" alt="Shimmer logo">
                                        </div>
                                        <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-sm">Shimmer Explorer</h6>
                                      </a>
                                        <p class="text-xs text-secondary mb-0"><a href="https://explorer.shimmer.network/shimmer" target="_blank">https://explorer.shimmer.network/shimmer</a></p>
                                      </div>
                                    </div>
                                  </td>
                                  <td>
                                    <p class="text-xs font-weight-bold mb-0">Shimmer Tangle Explorer</p>
                                    <p class="text-xs font-weight-bold mb-0"></p>
                                    <p class="text-xs text-secondary mb-0"></p>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <div class="d-flex px-2 py-1">
                                      <div>
                                        <!-- <img src="" class="avatar avatar-sm me-3 border-radius-lg" alt="user2"> -->
                                        <i class="fa fa-ban"></i>
                                      </div>
                                      <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-sm">WIP</h6>
                                        <p class="text-xs text-secondary mb-0">WIP</p>
                                      </div>
                                    </div>
                                  </td>
                                  <td>
                                    <p class="text-xs font-weight-bold mb-0">Work</p>
                                    <p class="text-xs text-secondary mb-0">in progress</p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-pane fade" id="settings-tab-pane" role="tabpanel" aria-labelledby="settings-tab" tabindex="0">
                <div class="container-fluid px-2 px-md-4">
                  <div class="card card-body mx-3 mx-md-4">
                    <div class="col-12 mt-4">
                      <div class="row">

                        SETTINGS

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


{% endif %}
</div>
{% endblock content %}
