{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid py-4">
  <div class="col-12">
    <div class="card mt-4">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
          <h1 class="text-white text-capitalize ps-3">Versutus</h1>
          <p class="mb-0 text-white ps-3">
            Welcomes you
          </p>
        </div>
      </div>
      <div class="card-body px-5">
        <h1>Let the journey begin</h1>
        <p class="text-sm">
          Find IOTA resources in <a href="{% url 'tangle:iota' %}">IOTA</a>
        </p>
        <p class="text-sm">
          Find Shimmer resources in <a href="/shimmer">Shimmer</a>
        </p>
        <p class="text-sm">
        <a class="px-3" href="{% url 'account_login' %}">
          <i class="fa fa-discord fa-4x"></i> Discord Login</a> is required to access advanced resources.
        </p>
        <figure>
          <blockquote class="blockquote">
            <p class="ps-2">Nothing will hold us back.</p>
          </blockquote>
          <figcaption class="blockquote-footer ps-3">
            Someone famous on <cite title="Source Title">Twitter</cite>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
